{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container">
  <h2>REFUND - New Record</h2>
  <div class="mt-5 mb-5">
    <form id="profile-form" method="post" action="#" novalidate>
      {% csrf_token %} {% for form in template_data.forms %}
      <div class="card mb-4">
        <div class="card-header bg-light">
          <h5 class="mb-0">{{ form.title }}</h5>
        </div>
        <div class="card-body">{% crispy form.form %}</div>
      </div>
      {% endfor %}

      <div class="mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        <button type="reset" class="btn btn-secondary btn-lg ms-2">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
