<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REFUNDS | {{ template_data.selected_page }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- HEADER -->
    <nav class="p-3 navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand custom-logo" href="{% url 'home.index' %}">
          -REFUNDS-
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto navbar-ml">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                CTP
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'home.batches' %}"
                    >Print CTP Letters</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'home.deadbeat' %}"
                    >Deadbeat List</a
                  >
                </li>
              </ul>
            </div>
            <a class="nav-link" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="p-3 ms-footer d-none d-md-block">
      <div class="container">
        <div class="row mt-3 text-white">
          <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4"></div>
        </div>
      </div>
    </section>
    {% block content %} {% endblock content %}
    <section class="p-3 ms-footer-bottom bg-dark">
      <div class="container d-flex justify-content-between">
        <div class="me-5 text-white">
          <span>MTA Rail Roads</span>
        </div>
        <div class="text-white">
          <span>© Copyright - 2025</span>
        </div>
      </div>
    </section>
    <!-- FOOTER -->
  </body>
</html>
